/* layout.css */

header {
    margin-bottom: 50px;
}

#photo-template {
    display: none;
}

section {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 25%;
    height: 400px;
    overflow: auto;
}
