/* layout.css */

header {
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    max-width: 800;
}

section {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 7px;
    width: 25%;
}
